<app-backdrop>
  <div class="bg-white w-72 rounded-lg p-4 shadow-sm overflow-auto max-h-full">
    <div class="p-2">
      <h3 class="text-xl font-semibold">แก้ไขหมวดหมู่</h3>
    </div>
    <ng-container *ngIf="oldShelf">
      <div class="p-2 flex flex-col gap-4 mb-2">
        <div class="w-56 mx-auto">
          <input
            type="text"
            id="id"
            placeholder="ID"
            [(ngModel)]="id"
            class="px-4 py-2 w-full rounded-lg bg-gray-200 outline-0"
            disabled
            readonly
          />
        </div>
        <div class="w-56 mx-auto">
          <input
            type="text"
            id="name"
            placeholder="Name"
            [(ngModel)]="name"
            class="px-4 py-2 w-full rounded-lg bg-gray-50 outline-0 focus:bg-gray-100"
          />
        </div>
        <img
          *ngIf="oldShelf.cover"
          [src]="'/upload/' + oldShelf.cover"
          class="w-56 h-36 object-cover mx-auto rounded-lg"
        />
        <div>
          <div
            class="w-56 h-36 rounded-lg mx-auto bg-gray-50 flex justify-center items-center"
          >
            <input
              type="file"
              accept="image/*"
              (change)="displayCover($event)"
              class="hidden"
              #cover
            />
            <button
              *ngIf="!coverSrc; else coverSelected"
              (click)="cover.click()"
              class="w-full h-full flex flex-col gap-2 justify-center items-center p-2"
            >
              <span class="material-symbols-rounded"> photo_camera </span>
              {{ oldShelf.cover ? "เปลี่ยน" : "เพิ่ม" }}ภาพปก
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="flex justify-end items-center gap-4">
      <button
        (click)="close()"
        class="flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-md"
      >
        ยกเลิก
      </button>
      <button
        (click)="edit()"
        class="flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-md bg-yellow-700 text-white hover:bg-yellow-900"
      >
        อัปเดต
      </button>
    </div>
  </div>
</app-backdrop>

<ng-template #coverSelected>
  <div class="relative w-full h-full">
    <img [src]="coverSrc" class="w-full h-full object-cover rounded-lg mx-auto" />
    <button
      (click)="clearCover()"
      class="absolute bottom-2 right-2 flex p-2 rounded-full bg-red-500 hover:bg-red-700 shadow text-white justify-center items-center"
    >
      <span class="material-symbols-rounded"> delete </span>
    </button>
  </div>
</ng-template>
