<div class="grid min-h-dvh grid-cols-1 grid-rows-[auto_1fr]">
  <header class="flex items-center justify-between gap-4 p-4">
    <div class="flex items-center gap-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="24"
        viewBox="0 0 240 240"
        class="size-8"
      >
        <path d="M87.78 88.28q63.42.52 63.44 63.44M19.5 220V59 M219.5 20v161" />
        <circle cx="59.5" cy="60" r="40" />
        <circle cx="179.5" cy="180" r="40" />
      </svg>
      <p class="text-2xl font-bold">เนิร์ดโอเวอร์</p>
    </div>
    <nav>
      <ul class="flex items-center gap-2">
        <li><a routerLink="/lessons">บทเรียน</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="flex h-full flex-col items-center justify-center gap-4 p-4">
      <h1 class="text-center text-4xl leading-tight font-black">
        เรียนรู้ไม่สิ้นสุด
        <br />
        คว้าความรู้ใหม่
        <br />
        บทเรียนคุณภาพ
      </h1>
      <img
        src="/images/boy-reading-book.png"
        alt="boy-reading-book"
        class="object-contain"
        width="288"
        height="288"
        priority
      />
    </div>
  </main>
</div>
