@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.ts";

@layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

html,
body {
    scroll-behavior: smooth;
}

.gutter-stable {
    scrollbar-gutter: stable;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar-v {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.system-font {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
