<div
  class="top-0 md:visible md:opacity-100 fixed md:sticky md:shadow-none w-64 h-screen overflow-auto p-4 flex flex-col gap-6 transition-all duration-300 bg-white"
  [ngClass]="
    isNavOpen
      ? 'visible opacity-100 left-0 shadow-lg'
      : 'invisible opacity-0 -left-64'
  "
>
  <app-brand />
  <app-navigation (closeTrigger)="closeNav()" />
  <hr />
  <app-admin-navigation />
</div>

<button
  (click)="toggleNav()"
  class="md:hidden fixed left-4 bottom-4 p-2 rounded-lg flex justify-center items-center bg-white transition-all"
  [ngClass]="isNavOpen ? 'shadow-none text-red-500' : 'shadow-md'"
>
  <span class="material-symbols-rounded"
    >{{ isNavOpen ? "close" : "menu" }}
  </span>
</button>
