<app-overlay>
  <app-overlay-card title="อัปเดตหมวดหมู่">
    <form [formGroup]="form" (ngSubmit)="update()" class="flex flex-col gap-2">
      <div class="flex flex-col gap-1">
        <label for="name" class="text-sm">หมุดหมวดหมู่</label>
        <input
          type="text"
          id="name"
          formControlName="slug"
          class="w-full rounded border border-stone-300 px-4 py-2 read-only:bg-stone-50 read-only:text-stone-400"
          readonly
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="name" class="text-sm">ชื่อหมวดหมู่</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full rounded border border-stone-300 px-4 py-2"
        />
        @if (name?.touched && name?.hasError("required")) {
          <div class="text-xs text-red-500">จำเป็นต้องระบุชื่อหมวดหมู่</div>
        }
      </div>
      @if (updateErrorMessage) {
        <div class="text-xs text-red-500">
          {{ updateErrorMessage }}
        </div>
      }
      <div class="grid grid-cols-2 place-items-center">
        <button
          class="flex w-20 items-center justify-center rounded-full px-4 py-2 font-medium text-yellow-700 not-disabled:hover:bg-yellow-50 disabled:text-stone-300"
          [disabled]="updating || form.invalid"
        >
          @if (updating) {
            <div class="loader"></div>
          } @else {
            อัปเดต
          }
        </button>
        <button
          type="button"
          (click)="closed.emit()"
          class="rounded-full px-4 py-2 font-medium hover:bg-stone-50"
        >
          ยกเลิก
        </button>
      </div>
    </form>
  </app-overlay-card>
</app-overlay>
